<h2>{{booklist.name}}</h2>
<style>
    ol{
	    padding-left: 0em;
    }
</style>
<form method="POST" action="">
<div>
    <label for="Name">Name:</label>
    <input class="form-control" type="text" id="name" name="name" value= {{booklist.name}}>
</div>
<div>
    <label for="Description">Description:</label>
    <textarea class="form-control" name="description" id="description">{{booklist.description}}</textarea>
</div>
<div>
    <b>BOOKS:</b> 
    <ol>
    {{#each booklist.books as |b|}}
    {{b.title}}
    <br>
    {{/each}}
    </ol>
</div>
<input class="d-grid col-4 mx-auto btn btn-primary" type="submit" value="Confirm Change">
</form>
