<style>
    #switc{
        margin-left: 0px;
        float:none;
        margin-right: 22%;
    }
</style>
<h2>Add Book to {{bookList.name}}</h2>
<form method="POST" action="">
<div>
    <label for="Title">Title:</label>
    <input  class="form-control" type="text" id="title" name="title" value= "" required>
</div>
<div>
    <label for="Time">Read Date:</label>
    <input class="form-control" type="date" id="time" name="time" value= "">
</div>
<div>
    <label for="Rating">Rating:</label>
    <input class="form-control" type="number" id="rating" name="number" placeholder= "1 - 5" value= "" min="1" max="5">
</div>
<div>
    <label for="ContentOverview">Content Overview:</label>
    <textarea class="form-control" name="contentOverview" id="contentOverview"></textarea>
</div>
<div>
    <label for="Comment">Comment:</label>
    <textarea class="form-control" name="comment" id="comment"></textarea>
</div>
    
<label for="Comment">Plan to Read Again?</label>
<div class="form-check form-switch">
    <input id="switc" class="form-check-input" name = "check" type="checkbox" id="flexSwitchCheckDefault">
</div>
<input class="d-grid col-5 mx-auto btn btn-primary" type="submit" value="Add">
</form>
