<h2>{{booklist.name}}</h2>
    
</script>
<form method="POST" action="">
<div>
    <label for="Name">Name:</label>
    <input type="text" id="name" name="name" value= {{booklist.name}}>
</div>
<div>
    <label for="Description">Description:</label>
    <textarea name="description" id="description">{{booklist.description}}</textarea>
</div>
<div>
    <b>BOOKS:</b> 
    <ol>
    {{#each booklist.books as |b|}}
    {{b.title}}
    <br>
    {{/each}}
    </ol>
</div>
<input type="submit" value="Confirm Change">
</form>
