<h2>Create new Book List</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="">
	<div>
		<label for="Name">Name:</label>
		<input class="form-control" type="text" id="name" name="name" value= "" required>
	</div>
	<div>
		<label for="description">Description:</label>
		<textarea class="form-control" name="description" id="description"></textarea>
	</div>
	<input class="d-grid col-2 mx-auto btn btn-primary" type="submit" value="Add">
</form>
