 <h2>Password Reset</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="">
	<div>
		<label for="oldpswd">Old Password:</label>
		<input class="form-control" type="text" name="oldpswd" value="">
	</div>
	<div>
		<label for="newpswd1">New Password:</label> 
		<input class="form-control" type="password" name="newpswd1" value="">
	</div>
    <div>
		<label for="newpswd2">Confirm New Password:</label> 
		<input class="form-control" type="password" name="newpswd2" value="">
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Set Password">
	</div>
</form>
