<h2>Register</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="register">
	<div>
		<label for="username">Username:</label>
		<input type="text" class="form-control" name="username" value="">
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="text" class="form-control" name="password" value="">
	</div>
	<div><input class="btn btn-primary" type="submit" value="Register"></div>
</form>
