body {
	height: 100vh;
	font-family: Garamond, sans-serif;
	font-size: 1.25em;
	background-color: #222;
	text-align: center;
	margin: auto;
	margin-top: 0px;
	padding: none;
}

label{
	text-align: left;
}

ol{
	padding-left: 0em;
}

.home-link {
	position: absolute;
	top: 0.25em;
	left: 0.75em;
	color:rgb(125, 109, 249)
}

.login-status {
	position: absolute;
	top: 0.25em;
	right: 0.75em;
}

header {
	position: relative;
	background-color: #ccddff;
	margin: 0px;
	height: 2em;
	padding: 0.25em 1em 0em 1em;
	/*text-align: right;*/
}

nav > a, nav > a:visited {
	color: black;
}

h1, h2 {
	text-align: center;
}

#outer {
	/* width: 1200px; */
	height: 120vh;
	background-color: #fff;
	margin: auto;
	text-align: center;
}

div.content {
	padding: 0em 1em 1em 1em;
}

.booklist{
	margin:0 auto;
	text-align: left;
	margin-left: 30%;
	margin-right: 30%;
}

.listdesc{
	margin-left: 5%;
	margin-right: 5%;
	overflow-wrap: break-word;
}

.head{
	background-color: rgb(109, 249, 249);
	border-radius: 5px;
	border-color: #222;
	border-style: solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 8px;
}

.note {
	color:#888; 
	padding-top: 1em;
}

.error {
	background-color: #eecccc;
	padding: 0.25em;
	margin-bottom: 1em;
	text-align: center;	
}

.success {
	background-color: #cceecc;
	padding: 0.25em;
}

form div {
	padding-bottom: 0.5em;
	margin: auto; 
	width:220px;
	display: grid;
	justify-content: center;
}

textarea {
	width: 20em;
	height: 6em;
}


input {
	border: 1px solid #555;
	font-size: 1em;
}


.radio-group {
    display: flex;
    flex-direction: row;
}

button{
	font-size: 0.9em;
	border-radius: 0.4em;
}

#detail{
	padding-top: 0.05em;
	padding-bottom: 0.05em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: 0.15em;
	margin-bottom: 0.15em;
}